body {
    font-family: "Mulish", serif;
}



.logo-text-container {
    background-color: rgba(69, 143, 246, 1);
}

.left-dotted-img>img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* --------------section-1------------- */

/* .trafalgar-image { */
/* max-width: 503px; */
/* height: 598px; */
/* } */

/* .trafalgar-image>img {
    display: block;
    max-width: 100%;
} */




/* --------------section-3------------- */



.solution-image>img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* --------------section-4------------- */



.app-img>img {
    display: block;
    max-width: 100%;
}


/* ---------------section-6--------------- */
/* .sec-6-r-bg {
    pointer-events: none;
}

.sec-6-r-bg img {
    max-width: none;
    display: block;
} */
@media (max-width: 768px) {
    .sec-6-r-bg {
        display: none;
        /* Optional: hide on mobile if desired */
    }
}







.card-body>img {
    width: 130px;
}

.card-header {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: none;
}


.carousel-indicators {
    position: unset;
    width: fit-content;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.carousel-control-next,
.carousel-control-prev {
    width: auto;
}


.carousel-control-prev,
.carousel-control-next {
    position: unset;
}

.carousel-indicator {
    width: 20px !important;
    height: 20px !important;
    background-color: black;
    border-radius: 50%;
    background-color: rgba(91, 155, 243, 1) !important;
}






@media (min-width: 300px) and (max-width: 991px) {


    /* CSS rules for devices from sm to lg (576px to 991px) */
    .trafalgar-info {
        width: 100% !important;
        margin-top: auto;

    }



    .trafalgar-info h2 {
        text-align: center;
        margin-block: revert;
    }

    .trafalgar-info button {
        display: block;
        margin-inline: auto;
    }

    .trafalgar-image>img {
        margin-block: auto !important;
    }

    .solution-text {
        width: 100% !important;
        text-align: center;
        margin-block: auto;
        margin-top: inherit;
    }

    .app-info {
        width: 100% !important;
        text-align: center;
        margin-block: auto;
        margin-top: inherit;
    }

    /* section-2 */
    .services-section {
        margin-top: 3rem !important;
    }


}





.carousel-bg {
    background-image: linear-gradient(to left bottom, rgba(103, 195, 243, 1), rgba(90, 152, 242, 1));
}




















@media screen and (width: 1023.999px) {

    /* Your custom styles for iPad Pro */
    .navbar-toggler {
        padding: 0.5rem;
        background-color: #007bff;
    }

    #nav {
        display: flex !important;
    }

    ul li {
        margin-bottom: 0 !important;
    }
}


.services-section {
    background-image: url(/trafalgar-landing-page/bg-sec-2.png);
    background-repeat: no-repeat;
    background-position: 0 50%;

}

@media (max-width: 768px) {
    .services-section {
        background-image: none;
    }
}

.articles {
    background-image: url(/trafalgar-landing-page/Vector.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
}