.logo-text-container {
    background-color: rgba(69, 143, 246, 1);
}


/* --------------section-1------------- */

.trafalgar-image {
    max-width: 503px;
    height: 598px;
    /* display: contents !important; */
}

.trafalgar-image>img {
    display: block;
    max-width: 100%;
}




/* --------------section-3------------- */



.solution-image>img {
    display: block;
    max-width: 100%;
}

/* --------------section-4------------- */



.app-img>img {
    display: block;
    max-width: 100%;
}











.card-body>img {
    width: 130px;
}

.card-header {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: none;
}


.carousel-indicators {
    position: unset;
    width: fit-content;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.carousel-control-next,
.carousel-control-prev {
    width: auto;
}


.carousel-control-prev,
.carousel-control-next {
    position: unset;
}

.carousel-indicator {
    width: 20px !important;
    height: 20px !important;
    background-color: black;
    border-radius: 50%;
    background-color: rgba(91, 155, 243, 1) !important;
}






@media (min-width: 300px) and (max-width: 991px) {


    /* CSS rules for devices from sm to lg (576px to 991px) */
    .trafalgar-info {
        width: 100% !important;
        /* text-align: center; */
        margin-top: auto;

    }

    .trafalgar-info h2 {
        text-align: center;
        margin-block: revert;
    }

    .trafalgar-info button {
        display: block;
        margin-inline: auto;
    }

    .trafalgar-image>img {
        margin-block: auto !important;
    }

    .solution-text {
        width: 100% !important;
        text-align: center;
        margin-block: auto;
        margin-top: inherit;
    }

    .app-info {
        width: 100% !important;
        text-align: center;
        margin-block: auto;
        margin-top: inherit;
    }

    /* section-2 */
    .services-section {
        margin-top: 3rem !important;
    }


}





.carousel-bg {
    background-image: linear-gradient(to left bottom, rgba(103, 195, 243, 1), rgba(90, 152, 242, 1));
}